/* Split the screen in half */
.split {
  position: fixed;
  top: 0;
}

/* Control the left side */
.left {
  height: 100%;
  width: 20%;
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  height: 100%;
  width: 80%;
  right: 0;
}

body{
      background-image: url("/image/bglogin.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: "poppins";
  }

  .login{
      font-family: "poppins", monospace;
      height: 100%;
      width: 300px;
      margin-left:auto;
      margin-top:5%;
      margin-right:auto;
      margin-bottom:10%;
      border-radius: 10px;
    
  }

  .login .errorlogin {
    margin:center;
    text-align:center;
    color :red;
    font-size: 15px;

  }

  .text-login{
    margin:center;
    text-align: center;
  }

  .text-ubahpassword{
    font-family: "poppins", monospace;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  img{
    width: 80%;
    height: 50%;
    margin-left: 8%;
    margin-right: auto;
  }

    .username {
      border: 1px #DCDCDC;
      border-radius: 5px;
      margin-top: 10px;
      margin-left:center;
      margin-right: center;
      position: relative;
      overflow: hidden;
      background-color:#e7e7e7 ;
      width: 300px;
      height: 40px;
      color:#5d3413 ;
      text-align: center;

      }
    .password {
      border: 1px #DCDCDC ;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      position: relative;
      overflow: hidden;
      background-color:#e7e7e7;
      width: 300px;
      height: 40px;
      color:#5d3413 ;
      text-align: center;

      }

    .button {
      border: 1px #e7e7e7 ;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      position: relative;
      overflow: hidden;
      background-color:#5494D4;
      width: 300px;
      height: 40px;
      color:white;
     }

    #lupaPass{
      color: #5494D4;
      font-family: "poppins", monospace;
    }

    .lupaPass{
      margin-top: 20px;
      font-size: 15px;
    }

    #backlogin{
      color: white;
      font-family: "poppins", monospace;
    }

    .alert-warning{
      background-color: #ffe7ea;
      border-radius: 5px;
      padding: 4px 28px;
      margin-top: 5px;
    }

    .alert-success{
      color:#155724;
      background-color: #D4EDDA;
      border-radius: 5px;
      padding: 4px 28px;
      margin-top: 5px;
    }

    p{
      color : #d83131;
    }

    .button-backtologin{
      font-family: "poppins", monospace;
      background-color:#20A0F1;
      border: 1px #e7e7e7 ;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      position: relative;
      overflow: hidden;
      width: 300px;
      height: 40px;
      color:white;
    }

    .invalid-feedback{
      color : red;
      margin-left: 10px;
    }